@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --zakladni-velikost-pisma: 16px;
    --druh-pisma: 'Inter', sans-serif;

    --pozadi-aplikace: #FFFFFF;
    --pozadi-navigace: rgba(0, 0, 0, 0.9);
    --pozadi-zapati: #212121;
    --pozadi-elementu: #FFFFFF;
    --pozadi-tlacitek: #000000;
    --pozadi-zprava-uspech: #337D19;
    --pozadi-zprava-chyba: #8A1C1C;

    --barva-pisma-primarni: #000000;
    --barva-pisma-sekundarni: #FFFFFF;
    --barva-pisma-seda: #6F6F6F;

    --vrzeny-stin: rgba(0, 0, 0, 0.25);
    --ramecek-inputy: #343434;

    --sirka-obsahu: 76.25rem;
    --vyska-navigace: 5rem;

    --mezera-xs: 0.875rem;
    --mezera-s: 1rem;
    --mezera-m: 1.25rem;
    --mezera-l: 1.875rem;
    --mezera-xl: 2.5rem;
    --mezera-xxl: 3.75rem;

    --pismo-m: 1.25rem;
    --pismo-l: 2rem;
    --pismo-xl: 2.25rem;
}

html {
    font-size: var(--zakladni-velikost-pisma);
}

*,
*::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--pozadi-aplikace);
}

body,
input,
button {
    font-family: var(--druh-pisma);
    font-size: 1.125rem;
}

img {
    max-width: 100%;
}

nav {
    width: 100%;
    height: var(--vyska-navigace);
    background-color: var(--pozadi-navigace);

    position: fixed;
    top: 0;
    left: 0;

    div {
        &:only-child {
            width: var(--sirka-obsahu);
            max-width: 100%;
            height: 100%;
            margin: 0 auto;

            >a {
                font-size: var(--pismo-xl);
                font-weight: 700;
            }
        }

        >div {
            margin-left: auto;
        }

        display: flex;
        gap: var(--mezera-xxl);
        align-items: center;
    }

    a {
        font-size: var(--pismo-l);
        font-weight: 300;
        text-decoration: none;
        color: var(--barva-pisma-sekundarni);

        &:not(:only-of-type):hover {
            text-decoration: underline;
        }
    }

    svg {
        cursor: pointer;
        display: none;
        margin-left: auto;
    }
}

body>img {
    width: 100%;
    height: 21.875rem;
    object-fit: cover;
}

main {
    width: var(--sirka-obsahu);
    max-width: 100%;
    margin: 5.625rem auto 0;
}

footer {
    background-color: var(--pozadi-zapati);
    color: var(--barva-pisma-sekundarni);
    margin-top: 7.5rem;
    padding-top: 5.75rem;
    padding-bottom: 6.75rem;
    font-size: 1.5rem;

    b {
        font-size: var(--pismo-xl);
    }

    a {
        color: var(--barva-pisma-sekundarni);
        text-decoration: none;
    }

    hr {
        margin: 1.5rem 0;
    }

    p {
        text-align: right;
        font-style: italic;
    }

    >div {
        width: var(--sirka-obsahu);
        max-width: 100%;
        margin: 0 auto;

        >div {
            display: flex;
            gap: var(--mezera-xxl);
            align-items: flex-end;

            a:first-of-type {
                margin-left: auto;
            }
        }
    }
}

form {
    display: flex;
    flex-direction: column;

    label {
        margin-top: var(--mezera-l);
        margin-bottom: var(--mezera-s);

        &:first-of-type {
            margin-top: 0;
        }
    }

    input {
        width: 29.75rem;
        padding: var(--mezera-xs);
        border: 1px solid var(--ramecek-inputy);
    }

    input[type="submit"] {
        border: none;
        background-color: var(--pozadi-tlacitek);
        color: var(--barva-pisma-sekundarni);
        font-weight: 600;

        margin-top: var(--mezera-l);
    }
}

.obrazek-zahlavi-hlevni-strana {
    height: 14.375rem;
}

.hlavni-strana {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--mezera-m);
    row-gap: var(--mezera-xl);

    >div:last-child {
        flex-basis: 100%;
        text-align: center;

        a {
            display: inline-block;
            font-size: var(--pismo-m);
            font-style: italic;
            color: var(--barva-pisma-primarni);
            background-color: var(--pozadi-elementu);
            text-decoration: none;
            font-weight: 600;
            padding: 0.375rem 2.25rem;

            &:first-child {
                margin-right: var(--mezera-m);
            }

            &.vypnuto {
                pointer-events: none;
                color: var(--barva-pisma-seda);
            }
        }
    }
}

.karta-clanku {
    background-color: var(--pozadi-elementu);

    width: 34.375rem;
    max-width: 100%;

    display: flex;
    gap: var(--mezera-m);

    >img {
        width: 14.1875rem;
        height: 12.6875rem;
        object-fit: cover;
    }

    .karta-textace {
        padding: var(--mezera-l);
        padding-left: 0;

        flex-basis: 100%;

        h2 {
            margin: 0;
            font-weight: 700;
            font-size: var(--pismo-l);
        }

        a {
            font-weight: 700;
            font-style: italic;
            font-size: var(--pismo-m);
            text-decoration: none;
            color: var(--barva-pisma-primarni);

            &:hover {
                text-decoration: underline;
            }
        }

        p {
            margin-top: 1.375rem;
            margin-bottom: 0;

            &:last-child {
                margin-top: 2.25rem;
                text-align: right;
            }
        }
    }
}

@media screen and (max-width: 1241px) {

    nav>div,
    footer>div,
    main {
        padding: 0 var(--mezera-l);
    }

    .hlavni-strana>div:not(:last-child) {
        flex-basis: calc(50% - var(--mezera-m) / 2);
    }
}

@media screen and (max-width: 1081px) {
    .hlavni-strana>div:not(:last-child) {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 769px) {
    nav {
        .otevrit {
            display: block;

            &.otevreno {
                display: none;
            }
        }

        .zavrit.otevreno {
            display: block;
        }

        div:not(:only-child) {
            position: fixed;
            top: var(--vyska-navigace);
            bottom: 0;
            right: -100%;
            width: 65%;

            flex-direction: column;
            align-items: flex-end;
            padding: var(--mezera-m) var(--mezera-xxl);
            background-color: var(--pozadi-navigace);

            transition: right .3s ease-in-out;

            &.otevreno {
                right: 0;
            }
        }
    }

    footer {
        div:not(:only-child) {
            flex-wrap: wrap;
            gap: var(--mezera-l);

            b {
                flex-basis: 100%;
            }

            a:first-of-type {
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .karta-clanku {
        flex-wrap: wrap;
        gap: 0;

        .karta-textace {
            padding: var(--mezera-l);
        }

        img {
            width: 100%;
            height: 8rem;
        }
    }
}

@media screen and (max-width: 361px) {
    .hlavni-strana>div:last-child a:first-child {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}